upstream grafana-docker {
    server        grafana:3000;
}

upstream influxdb-docker {
    server        influxdb:8086;
}


server {
    listen          80;
    server_name     _;
    return 301      https://${DOMAIN};
}


server {
    listen        443 ssl;
    server_name   ${DOMAIN};

    include       conf.d/common.conf;
    include       conf.d/ssl-${ENV}.conf;

    location / {
        include             conf.d/common_location.conf;
        proxy_pass          http://grafana-docker/;
    }

    location /influx/ {
        include             conf.d/common_location.conf;
        proxy_pass          http://influxdb-docker/;
    }
}