[Unit]
Description=OpenWeatherMap sensor measurement
After=mosquitto.service

[Container]
Image=localhost/airq-sensor:latest
EnvironmentFile=%h/.airq/config.env
Environment=SENSOR_TYPE=owm
Environment=MQTT_TOPIC=sensors/owm
Network=airq.network

[Service]
Type=oneshot
RemainAfterExit=no
